.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: white;
  border-top-color: white;
}

.opened {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: #7b7b7b;
  border-top-color: #7b7b7b;
}

.flag {
  flex-grow: 1;
}

.bomb {
  flex-grow: 1;
}

.neighbors {
  flex-grow: 1;
}
